node_modules/
dist/
.env
.vscode/

# Antigravity specific
antigravityignore
.antigravityignore
deployent_checklist.md
deployment_checklist.md
DEPLOYMENT_CHECKLIST.md
VERSION_12_STATE.md
version_12_state.md
.VERSION_12_STATE.md